div.codeblock{padding:5px;border:1px solid #ccc;background-color:#eee;}.codeblock.nowrap-expand pre,.codeblock.nowrap-expand[class*="language-"]{white-space:nowrap;overflow:hidden;}.codeblock.nowrap-expand:hover{overflow-x:visible;}
/*})'"*/
