
@font-face {
  font-family: 'PragmataPro';
  src: url('PragmataPro.eot?#iefix') format('embedded-opentype'),  url('PragmataPro.woff') format('woff'), url('PragmataPro.ttf')  format('truetype'), url('PragmataPro.svg#PragmataPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
